# ==========================================
# 1. CARPETAS PESADAS DE NODE.JS (Frontend y API Gateway)
# ==========================================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ==========================================
# 2. NEXT.JS (Builds y temporales)
# ==========================================
/frontend/.next/
/frontend/out/
/frontend/build/
.vercel

# ==========================================
# 3. PYTHON (AI Worker)
# ==========================================
# Entornos virtuales
venv/
env/
.env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 4. VARIABLES DE ENTORNO Y SECRETOS (¡MUUUY IMPORTANTE!)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# ==========================================
# 5. ARCHIVOS DEL SISTEMA Y EDITORES (VS Code, Mac, Windows)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# ==========================================
# Archivos pesados y multimedia
# ==========================================
uploads/
*.mp4
*.zip

# ==========================================
# AI Worker - Archivos temporales de FFmpeg
# ==========================================
ai-worker/ffmpeg_temp/

# ==========================================
# Archivos multimedia y binarios gigantes
# ==========================================
uploads/
*.mp4
*.zip
*.exe
ai-worker/ffmpeg_temp/
